<p-toast></p-toast>
<p-panel header="Add Member">
    <ng-template pTemplate="icons">
        <p-button icon="pi pi-arrow-left" (click)="pannelback()">
        </p-button>&nbsp; &nbsp;
    </ng-template>
    <p-card class="cardform">
        <form [formGroup]="regForm">
            <div class="p-fluid p-formgrid p-grid">
                <div class="p-field p-col-3 p-md-3 p-sm-12 p-lg-3">
                    <label class="first">First Name<span class="mandatoryColor">*</span></label>
                    <input id="input" type="text" autocomplete="off" pInputText formControlName="firstName"
                        placeholder="FirstName">
                    <div>
                        <span class="validationtest"
                            *ngIf="this.regForm.get('firstName').touched && this.regForm.get('firstName').invalid && this.regForm.get('firstName').errors.required">
                            First Name is Required
                        </span>
                        <span class="validationtest"
                            *ngIf="this.regForm.get('firstName').touched && this.regForm.get('firstName').invalid && this.regForm.get('firstName').errors.maxlength">
                            Maximum length is 30
                        </span>
                        <span class="validationtest"
                            *ngIf="this.regForm.get('firstName').touched && this.regForm.get('firstName').invalid && this.regForm.get('firstName').errors.pattern">
                            Only alphabetrs are required
                        </span>
                    </div>
                </div>
                <div class="p-field p-col-3 p-md-3 p-sm-12 p-lg-3">
                    <label class="first">Middle Name <span class="mandatoryColor"></span></label>
                    <input id="input" type="text" autocomplete="off" pInputText formControlName="middleName"
                        placeholder="MiddleName">
                    <div>

                        <span class="validationtest"
                            *ngIf="this.regForm.get('middleName').touched && this.regForm.get('middleName').invalid && this.regForm.get('middleName').errors.maxlength">
                            Maximum length is 30
                        </span>
                        <span class="validationtest"
                            *ngIf="this.regForm.get('middleName').touched && this.regForm.get('middleName').invalid && this.regForm.get('middleName').errors.pattern">
                            Only alphabetrs are rquired
                        </span>
                    </div>
                </div>
                <div class="p-field p-col-3 p-md-3 p-sm-12 p-lg-3">
                    <label class="first">Last Name <span class="mandatoryColor">*</span> </label>
                    <input id="input" type="text" autocomplete="off" pInputText formControlName="lastName"
                        placeholder="LastName">
                    <div>
                        <span class="validationtest"
                            *ngIf="this.regForm.get('lastName').touched && this.regForm.get('lastName').invalid && this.regForm.get('lastName').errors.required">
                            Last Name is Required
                        </span>

                        <span class="validationtest"
                            *ngIf="this.regForm.get('lastName').touched && this.regForm.get('lastName').invalid && this.regForm.get('lastName').errors.maxlength">
                            Maximum length is 30
                        </span>
                        <span class="validationtest"
                            *ngIf="this.regForm.get('lastName').touched && this.regForm.get('lastName').invalid && this.regForm.get('lastName').errors.pattern">
                            Only alphabetrs are rquired
                        </span>
                    </div>
                </div>
                <div class="p-field p-col-3 p-md-3 p-sm-12 p-lg-3">
                    <label class="first">Email<span class="mandatoryColor">*</span></label>
                    <input id="input" type="text" autocomplete="off" pInputText formControlName="email"
                        placeholder="Email">
                    <div>
                        <span class="validationtest"
                            *ngIf="this.regForm.get('email').touched && this.regForm.get('email').invalid && this.regForm.get('email').errors.required">
                            Email is required
                        </span>
                        <span class="validationtest"
                            *ngIf="this.regForm.get('email').touched && this.regForm.get('email').invalid && this.regForm.get('email').errors.email">
                            Enter Valid email
                        </span>
                    </div>
                </div>
            </div>

            <div class="p-fluid p-formgrid p-grid">
                <div class=" p-field p-col-3 p-md-3 p-sm-12 p-lg-3">
                    <label class="first">Phone Number <span class="mandatoryColor">*</span></label>
                    <div class="p-inputgroup">
                        <input type="number" pInputText placeholder="PhoneNumber" formControlName="phoneNumber">
                    </div>
                    <div>
                        <span class="validationtest"
                            *ngIf="this.regForm.get('phoneNumber').touched && this.regForm.get('phoneNumber').invalid && this.regForm.get('phoneNumber').errors.required">
                            Phone Number is required
                        </span>
                        <span class="validationtest"
                            *ngIf="this.regForm.get('phoneNumber').touched && this.regForm.get('phoneNumber').invalid && this.regForm.get('phoneNumber').errors.pattern">
                            Minimum length is 10 and Maximum length is 15
                        </span>
                    </div>
                </div>
                <div class="p-field p-col-3 p-md-3 p-sm-12 p-lg-3">
                    <label class="first">Alternate Number </label>
                    <div class="p-inputgroup">
                        <input type="number" pInputText placeholder="Alternate Number"
                            formControlName="alternativeNumber">
                    </div>
                    <div>

                        <span class="validationtest"
                            *ngIf="this.regForm.get('alternativeNumber').touched && this.regForm.get('alternativeNumber').invalid && this.regForm.get('alternativeNumber').errors.pattern">
                            Minimum length is 10
                        </span>
                    </div>

                </div>
                <div class="p-field p-col-3 p-md-3 p-sm-12 p-lg-3">
                    <label class="first">Age<span class="mandatoryColor">*</span> </label>
                    <div class="p-inputgroup">
                        <input type="number" pInputText placeholder="Age" formControlName="age">
                    </div>
                    <div>
                        <span class="validationtest"
                            *ngIf="this.regForm.get('age').touched && this.regForm.get('age').invalid && this.regForm.get('age').errors.required">
                            Age is required
                        </span>

                        <span class="validationtest"
                            *ngIf="this.regForm.get('age').touched && this.regForm.get('age').invalid && this.regForm.get('age').errors.pattern">
                            Minimum length is 2
                        </span>
                    </div>
                </div>
                <div class="p-field p-col-3 p-md-3 p-sm-12 p-lg-3">
                    <label class="first">User Name<span class="mandatoryColor">*</span> </label>
                    <div class="p-inputgroup">
                        <input type="text" pInputText placeholder="UserName" formControlName="userName">
                    </div>
                    <div>
                        <span class="validationtest"
                            *ngIf="this.regForm.get('userName').touched && this.regForm.get('userName').invalid && this.regForm.get('userName').errors.required">
                            User Name is required
                        </span>

                        <span class="validationtest"
                            *ngIf="this.regForm.get('userName').touched && this.regForm.get('userName').invalid && this.regForm.get('userName').errors.pattern">
                            Only alphabets are required
                        </span>
                    </div>
                </div>

            </div>

            <div class="p-fluid p-formgrid p-grid">
                <div class="p-field p-col-3 p-md-3 p-sm-12 p-lg-3">
                    <label class="first">Password<span class="mandatoryColor">*</span> </label>
                    <div class="p-inputgroup">
                        <input type="text" pInputText placeholder="Password" formControlName="password">
                    </div>
                    <div>
                        <span class="validationtest"
                            *ngIf="this.regForm.get('password').touched && this.regForm.get('password').invalid && this.regForm.get('password').errors.required">
                            Enter Password
                        </span>
                        <span class="validationtest"
                            *ngIf="this.regForm.get('password').touched && this.regForm.get('password').invalid && this.regForm.get('password').errors.minlength">
                            Password Minimum length is 5
                        </span>
                    </div>
                </div>
                <div class="p-field p-col-3 p-md-3 p-sm-12 p-lg-3">
                    <label class="first">Gender <span class="mandatoryColor">*</span></label>
                    <p-dropdown [options]="gender" placeholder="Select Gender" [showClear]="false" optionLabel="gen"
                        optionValue="gen" formControlName="gender"></p-dropdown>
                    <div>
                        <span class="validationtest"
                            *ngIf="this.regForm.get('gender').touched && this.regForm.get('gender').invalid && this.regForm.get('gender').errors.required">
                            Select Gender
                        </span>
                    </div>
                </div>
                <div class="p-field p-col-3 p-md-3 p-sm-12 p-lg-3">
                    <label class="first">Address Line1 </label>
                    <input id="input" type="text" autocomplete="off" pInputText optionValue="code"
                        formControlName="addressLine1" placeholder="Address Line1">
                </div>
                <div class="p-field p-col-3 p-md-3 p-sm-12 p-lg-3">
                    <label class="first"> Address Line2</label>
                    <input id="input" type="text" autocomplete="off" pInputText optionValue="code"
                        formControlName="addressLine2" placeholder="Address Line2">
                </div>
            </div>
            <div class="p-fluid p-formgrid p-grid">
                <div class="p-field p-col-3 p-md-3 p-sm-12 p-lg-3">
                    <label class="first">City<span class="mandatoryColor"></span></label>
                    <input id="input" type="text" autocomplete="off" pInputText optionValue="code"
                        formControlName="city" placeholder="City">
                </div>
                <div class="p-field p-col-3 p-md-3 p-sm-12 p-lg-3">
                    <label class="first">State<span class="mandatoryColor"></span></label>
                    <input id="input" type="text" autocomplete="off" pInputText formControlName="state"
                        placeholder="State">

                </div>
                <div class="p-field p-col-3 p-md-3 p-sm-12 p-lg-3">
                    <label class="first">Country</label>
                    <input id="input" type="text" pKeyFilter="int" autocomplete="off" pInputText
                        formControlName="country" placeholder="Country">
                </div>
                <div class="p-field p-col-3 p-md-3 p-sm-12 p-lg-3">
                    <label class="first">Pin Code</label>
                    <input id="input" type="number" pKeyFilter="int" autocomplete="off" pInputText
                        formControlName="pinCode" placeholder="pincode">
                </div>
            </div>

            <div class="p-fluid p-formgrid p-grid">
                <div class="p-field p-col-3 p-md-3 p-sm-12 p-lg-3">
                    <label class="first"> Height <span class="mandatoryColor">*</span></label>
                    <div class="p-inputgroup">
                        <input type="number" pInputText placeholder="Height" formControlName="height">
                    </div>
                    <div>
                        <span class="validationtest"
                            *ngIf="this.regForm.get('height').touched && this.regForm.get('height').invalid && this.regForm.get('height').errors.required">
                            Please Enter Height
                        </span>
                    </div>
                </div>
                <div class="p-field p-col-3 p-md-3 p-sm-12 p-lg-3">
                    <label class="first"> Weight <span class="mandatoryColor">*</span></label>
                    <div class="p-inputgroup">
                        <input type="number" pInputText placeholder="Weight" formControlName="weight">
                    </div>
                    <div>
                        <span class="validationtest"
                            *ngIf="this.regForm.get('weight').touched && this.regForm.get('weight').invalid && this.regForm.get('weight').errors.required">
                            Please Enter Weight
                        </span>
                    </div>
                </div>
                <div class="p-field p-col-3 p-md-3 p-sm-12 p-lg-3">
                    <label class="first">Role<span class="mandatoryColor">*</span></label>
                    <p-dropdown [options]="roles" placeholder="Select Role" [showClear]="false" optionLabel="role"
                        optionValue="role" formControlName="role" (onChange)="onChange()"></p-dropdown>
                    <div>
                        <span class="validationtest"
                            *ngIf="this.regForm.get('role').touched && this.regForm.get('role').invalid && this.regForm.get('role').errors.required">
                            Please select a particular role
                        </span>
                    </div>
                </div>

                <div class="p-field p-col-3 p-md-3 p-sm-12 p-lg-3" *ngIf="addDoctor">
                    <label class="first">Doctor Specialization<span class="mandatoryColor">*</span></label>
                    <div class="p-inputgroup">
                        <input type="text" pInputText placeholder="DoctorSpecilization" formControlName="designation">
                    </div>
                    <div>
                        <span class="validationtest"
                            *ngIf="this.regForm.get('designation').touched && this.regForm.get('designation').invalid && this.regForm.get('designation').errors.required">
                            Doctor Specialization is required
                        </span>
                    </div>
                </div>
                <div class="p-field p-col-3 p-md-3 p-sm-12 p-lg-3" *ngIf="addDoctor">
                    <label class="first">Doctor Available Time<span class="mandatoryColor">*</span></label>
                    <div class="p-inputgroup">
                        <input type="text" pInputText placeholder="Doctor Available Time" formControlName="availbility">
                    </div>
                    <div>
                        <span class="validationtest"
                            *ngIf="this.regForm.get('availbility').touched && this.regForm.get('availbility').invalid && this.regForm.get('availbility').errors.required">
                            Docator AvailableTime is required
                        </span>
                    </div>
                </div>
                <div class="p-field p-col-3 p-md-3 p-sm-12 p-lg-3" *ngIf="addDoctor">
                    <label class="first">Doctor Image<span class="mandatoryColor"></span></label>
                    <div class="p-inputgroup">
                        <!-- <input type="file" pInputText placeholder=" DoctorImage" formControlName="image"> -->
                        <p-fileUpload  mode="basic" name="myfile[]"  accept="image/*" type="file"   chooseLabel="Browse"  (onSelect)="onBasicUploadAuto($event)" ></p-fileUpload>
                        <!-- <input type="file"  pInputText   (change)="onBasicUploadAuto($event)" > -->
                    </div>
                </div>


                <div class="p-field p-col-3 p-md-3 p-sm-12 p-lg-3" *ngIf="addPatient">
                    <label class="first">Patient BloodGroup <span class="mandatoryColor">*</span></label>
                    <div class="p-inputgroup">
                        <input type="text" pInputText placeholder="bloodGroup" formControlName="bloodGroup">
                    </div>
                    <div>
                        <span class="validationtest"
                            *ngIf="this.regForm.get('bloodGroup').touched && this.regForm.get('bloodGroup').invalid && this.regForm.get('bloodGroup').errors.required">
                            Please Enter Patient BloodGroup
                        </span>
                    </div>
                </div>
            </div>
            <div class="p-fluid p-formgrid p-grid" *ngIf="addPatient">

                <div class="p-field p-col-3 p-md-3 p-sm-12 p-lg-3">
                    <label class="first">Patient Problem<span class="mandatoryColor">*</span></label>
                    <div class="p-inputgroup">
                        <input type="text" pInputText placeholder="Patient Problem" formControlName="patientProblem">
                    </div>
                    <div>
                        <span class="validationtest"
                            *ngIf="this.regForm.get('patientProblem').touched && this.regForm.get('patientProblem').invalid && this.regForm.get('patientProblem').errors.required">
                            Please Enter Patient Problem
                        </span>
                        <span class="validationtest"
                            *ngIf="this.regForm.get('patientProblem').touched && this.regForm.get('patientProblem').invalid && this.regForm.get('patientProblem').errors.minlength">
                            Minimum length should be 10
                        </span>
                    </div>
                </div>
            </div>

            <div class=" col-12 p-col-6 p-md-6 p-sm-12 p-lg-12">
                <button pButton class="btn" type="button" (click)="reset()" label="Reset"></button>
                <button pButton class="btn" type="button" (click)="submit()" label="submit"></button>


            </div>
            <br />
        </form>
    </p-card>

</p-panel>