<p-panel header="List of users" [toggleable]="true">
    <ng-template pTemplate="icons">
       
    </ng-template>
<!-- <p-card> -->
    <br/>
    <div class="p-fluid p-formgrid p-grid">
        <div class="p-field p-col-3 p-md-3 p-sm-12 p-lg-3">
          <!-- <label class="first">Patient Name:</label> -->
         <input id="input" type="text"   autocomplete="off" pInputText placeholder="UserName"> 
        </div>
        <div class="p-field p-col-3 p-md-3 p-sm-12 p-lg-3">
          <!-- <label class="first">Token Number:</label> -->
         <input id="input" type="text"   autocomplete="off" pInputText placeholder="Role"> 
        </div>
        <div >
          <p-button label="Search" icon="pi pi-search" [style]=""></p-button>
          <!-- <i class="pi pi-search" style="font-size: 2rem;margin-top:8%"></i> -->
        </div>
        &nbsp;
        <div >
          <p-button label="Reset" icon="pi pi-refresh"[style]=""></p-button>
          <!-- <i class="pi pi-search" style="font-size: 2rem;margin-top:8%"></i> -->
        </div>
        &nbsp;
        <div >
            <p-button label="Add User" icon="pi pi-plus" [style]="" (click)="add()" ></p-button>
            <!-- <i class="pi pi-search" style="font-size: 2rem;margin-top:8%"></i> -->
        </div>
        
      </div>  
      
      <br/>
    <!-- </p-card> -->
</p-panel>    
    <br>
      <p-card>
        <p-table  [columns]="" [value]="usersData"  selectionMode="single" dataKey="edit" [responsive]="true" sortMode="multiple">
            <ng-template pTemplate="header" >
                <tr>
            
                  
                <th pSortableColumn="name">S.No <p-sortIcon field="name"></p-sortIcon></th>
                <th pSortableColumn="name">User Name <p-sortIcon field="name"></p-sortIcon></th>
                <th pSortableColumn="name">Phone Number <p-sortIcon field="name"></p-sortIcon></th>
                <th pSortableColumn="name">Email <p-sortIcon field="name"></p-sortIcon></th>
                <th pSortableColumn="name">Address<p-sortIcon field="name"></p-sortIcon></th>
                <th pSortableColumn="name">Role <p-sortIcon field="name"></p-sortIcon></th>
                <th pSortableColumn="name">Action <p-sortIcon field="name"></p-sortIcon></th>
                </tr>
              </ng-template>
              <ng-template pTemplate="body" let-data >
                <tr style="cursor: pointer;"   class="textCenter" >
                
                  <td class="textCenter" >{{data.sno}}</td>
                  <td class="textCenter" >{{data.username}}</td>
                  <td class="textCenter" >{{data.phonenumber}}</td>
                  <td class="textCenter" >{{data.email}}  </td>
                  <td class="textCenter" >{{data.address}}</td>
                  <td class="textCenter" >{{data.role}}</td>
                  <td>
                    <!-- <p-button label="Edit" icon="pi pi-user-edit" styleClass="p-button-sm" (click)="onEdit()"></p-button>
                    <p-button label="Edit" icon="pi pi-trash" styleClass="p-button-sm" (click)="onDelete()"></p-button> -->
                    <i class="pi pi-user-edit" (click)="onEdit()" style="font-size: 1rem"></i> &nbsp;&nbsp;
                    <i class="pi pi-trash" (click)="onDelete()" style="font-size: 1rem"></i>
                  </td>
                </tr>
        
              </ng-template>
        </p-table>
        <div class="p-grid ui-fluid">
            <div class="p-col-12 p-md-12 p-sm-12 p-lg-4">
                <h1></h1>
              <h3 class="norecorddata">No.of Records : {{this.reqCount}}</h3>
            </div>
            <div class="p-col-12 p-md-12 p-sm-12 p-lg-4" style="margin-left: -7%;">
              <p-paginator [rows]="10" [totalRecords]="reqCount" [rowsPerPageOptions]="[10,20,30]"
                (onPageChange)="paginate($event)"></p-paginator>
            </div>
      
            <!-- <div class="p-col-12 p-md-12 p-sm-12 p-lg-4">
              <span style="cursor: pointer;float: right;margin-top: 11px;margin-right: -70px;" class="ui-column-title"
                >
                <i style="margin: -6px;" class="pi pi-download"></i>&nbsp;&nbsp;
                <b>Download</b></span>
            </div> -->
      
          </div>
   
</p-card>


