<b></b>
<p-panel header="List of Patients" class="pannel" [toggleable]="true">
  <ng-template pTemplate="icons">
  </ng-template>
  <br />
  <form [formGroup]="patientsList">
    <div class="p-fluid p-formgrid p-grid">
      <div class="p-field p-col-3 p-md-3 p-sm-12 p-lg-3">
        <input id="input" type="text" autocomplete="off" pInputText placeholder="PatientName"
          formControlName="patientName">
      </div>
      <div class="p-field p-col-3 p-md-3 p-sm-12 p-lg-3">
        <input id="input" type="text" autocomplete="off" pInputText placeholder="Token Number"
          formControlName="tokenNumber">
      </div>
      <div>
        <p-button label="Search" icon="pi pi-search" [style]=""></p-button>
      </div>
      &nbsp;
      <div>
        <p-button label="Reset" icon="pi pi-refresh" [style]=""></p-button>
      </div>
    </div>
  </form>
  <br />
</p-panel>
<br>
<p-card>
  <p-table [columns]="" [value]="patientData" selectionMode="single" dataKey="edit" [responsive]="true"
    sortMode="multiple">
    <ng-template pTemplate="header">
      <tr>
        <th pSortableColumn="name">ID
        </th>
        <th pSortableColumn="name">Patient Name
        </th>
        <th pSortableColumn="name">Patient Height 
        </th>
        <th pSortableColumn="name">Patient Weight
        </th>
        <th pSortableColumn="name">BloodGroup 
        </th>
        <th pSortableColumn="name">PatientProblem 
        </th>
         <th pSortableColumn="name">Date 
        </th>
         <th pSortableColumn="name">Time 
        </th> 
        <th pSortableColumn="name">Action 
        </th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-data>
      <tr style="cursor: pointer;" class="textCenter">
        <td class="textCenter">{{data.Id}}</td>
        <td class="textCenter">{{data.Firstname}}</td>
        <td class="textCenter">{{data.height}}</td>
        <td class="textCenter">{{data.weight}} </td>
        <td class="textCenter">{{data.Bloodgroup}}</td>
        <td class="textCenter">{{data.patientproblem}}</td>
           <td class="textCenter">{{data.date}}</td>
        <td class="textCenter">{{data.timeslot}}</td>  
        <td>
          <i class="pi pi-user-edit" routerLink="/root/patientpd/{{data.Id}}"  style="font-size: 1rem"></i> &nbsp;&nbsp;
          <i class="pi pi-trash" (click)="onDelete(data.Id)" style="font-size: 1rem"></i>
        </td>
      </tr>
    </ng-template>
  </p-table>
</p-card>