<div class="layout-topbar">
    <!-- <p style="font-size: 16px;
    color:white;
    position: absolute;
    margin-bottom: 0em;
    font-weight: 500;
    right: 100px;
    top: 10px;">
             <b>{{fullName}}</b>   </p> -->
    <p style="font-size: 15px;
    position: absolute;
    margin-bottom: 0em;
    font-weight: 600;
    right: 100px;
    top: 30px;
    color: darkgray;">
                Role : {{role}}</p>
    <!-- <a href="#" class="layout-topbar-logo">
        <img id="layout-topbar-logo" src="assets\layout\images\SB_Update_1_2.png"  alt="babylon-layout"/>
    </a>

    <a class="layout-menu-button" href="#" (click)="appMain.onMenuButtonClick($event)">
        <i class="pi pi-bars"></i>
    </a> -->

    <a id="topbar-menu-button" href="#" (click)="appMain.onTopbarMenuButtonClick($event)">
        <i class="pi pi-ellipsis-v"></i>
    </a>

    <ul class="topbar-menu " [ngClass]="{'topbar-menu-visible': appMain.topbarMenuActive}">
        <li #profile class="user-profile" *ngIf="app.profileMode==='popup'||appMain.isHorizontal()"
            [ngClass]="{'active-topmenuitem':appMain.activeTopbarItem === profile}">

            <a href="#" (click)="appMain.onTopbarItemClick($event,profile)">
                <img alt="babylon-layout" src="assets/layout/images/avatar.png"/>
            </a>

            <ul class="">
                <li role="menuitem">
                    <a href="#" routerLink="/root/profile" >
                        <i class="pi pi-user"></i>
                        <span>Profile</span>
                    </a>
                </li>               
                <li role="menuitem">
                    <a (click)="logout()">
                        <i class="pi pi-sign-out"></i>
                        <span>Sign Out</span>
                    </a>
                </li>
            </ul>
        </li>
    </ul>
</div>
