.header {
    position: fixed;
    top: 0;
    height: 10vh;
    width: 100%;
    padding: 0;
  /* background-color: rgb(35 35 98); */
}

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.text-center {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-content {
     background-color: rgb(217, 231, 238); 
    /* height:100vh;  */
    margin-top: 60px;
    overflow: hidden;
  
    
 }

.side-menu {
    margin-top: 60px;
    background-color: rgb(90, 90, 90);
    /* width: 260px; */
    height: 645px;
    }

::ng-deep .p-panelmenu .p-panelmenu-header>a {

    border: 0px solid red;

}

::ng-deep .p-panelmenu .p-panelmenu-header>a {
    padding: 1.25rem;
    color: white;
    background: gray;
    font-weight: 700;
    border-radius: 6px;
    transition: box-shadow 0.2s;
}
::ng-deep.p-menubar{
    background-color: rgb(110 110 145)
}