<div class="card p-grid ">
  <div class="p-col-3"  *ngFor="let list of doctorData">
    <p-card [style]="{'height':'100%'}">
      <ng-template header="header" pTemplate="header">
        <img alt="card" [src]="list.img !=='' ? 'assets/profileimage.png' :'list.img'"  width="100" height="200">
      </ng-template>
      <h6>
        <p pTooltip={{list.username}}> <b>Doctor Name :</b> &nbsp; Dr.{{list.username}}</p>
      </h6>
      <p pTooltip={{list.designation}}> <b> Designation :</b>&nbsp;{{list.designation}}</p>
      <p > <b> Available Time :</b>&nbsp;{{list.availbility}} </p>
      <form [formGroup]="sloatForm">
        <p>  <b>Date : </b><p-calendar [minDate]="minDate" [maxDate]="maxDate" [readonlyInput]="true" formControlName="date" ></p-calendar></p>
        <!-- <p>  <b>Time : </b> <p-calendar [timeOnly]="true" [hourFormat]="12" inputId="timeonly" id="timeslot" formControlName="time" ></p-calendar></p> -->
        <b>Time : </b>  <p-dropdown [options]="slots"  class = "dropdown"optionLabel="h" formControlName="t2"  placeholder="Select Slot" id="select-id" ></p-dropdown>
      </form> 
      <ng-template pTemplate="footer">
        <p-button label="Submit" (click)="slot(list)" [disabled]="list.clicked" class="slotbtn">
        </p-button>
      </ng-template>
    </p-card>
  </div>
</div>
<p-button label="FeedBack" (click)="feedBack()">
</p-button>
<p-dialog header="FeedBack Form" [(visible)]="display" [style]="{'width': '35vw','height':'32vh'}" >
  <div>
    <form [formGroup]="feedbackForm">
      <h5>FeedBack :</h5>
      <textarea rows="5" cols="30" pInputTextarea formControlName="feedback" ></textarea><br/>
      <b> Ratings :</b>
      <p-rating formControlName="ratings"></p-rating><br/>
      <p-button label="Submit" (click)="submitFeedBack()">
      </p-button>
    </form>
  </div>
</p-dialog>
<p-toast></p-toast>