<div class="card p-grid ">
  <div class="p-col-3" *ngFor="let list of doctorData">
    <p-card [style]="{'height':'100%'}">
      <ng-template header="header" pTemplate="header">
        <img alt="Card" [src]="list.img" width="100" height="200">
      </ng-template>
      <h6><p  pTooltip={{list.username}}> <b>Doctor Name :</b> &nbsp; Dr.{{list.username}}</p></h6>
      <p pTooltip={{list.designation}}> <b> Designation :</b>&nbsp;{{list.designation}}</p>
      <p> <b> Available Time :</b>&nbsp;{{list.availbility}}</p>
      <!-- <b> Ratings :</b>
      <p-rating></p-rating> -->
      <b>Date : </b>
      <p-calendar  [minDate]="minDate" [maxDate]="maxDate" [readonlyInput]="true" ></p-calendar><br/><br/>
      <b>Time : </b>
      <p-calendar  [timeOnly]="true"  [hourFormat]="12" ></p-calendar>
      <ng-template pTemplate="footer">
        <p-button label="Book Slot" (click)="slot(list);list.clicked=true;"[disabled]="list.clicked" class="slotbtn" type="button" ></p-button>
      </ng-template>
    </p-card>
  </div>
</div>
<p-toast></p-toast>